* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   
}
#top{
    background-color: black;
    color: white;
display: flex;
     
}

image {
    padding: 50;
    margin: 3;
}

.g{
    display: flex; 
    justify-content: space-around;
}

.h{
color: gold;
}

.text-center{
    background-color: black;
    color: white;
}
    
.good{
    color:gold;
}

.t{
    border-radius: 100%;
}

#top .h{
padding-left: 30px;

}

.J{
    display: flex;
    justify-content:space-around;
    padding-top: 10px;

}


.bosh{
    background-color: #333;   
   color: #fff;
   overflow: auto;
   }

    .bosh a{
       color: #fff;
    }

   .bosh h1{
       float: left;
       padding-top: 20px;
   }

   .bosh ul{
       float: right;
       list-style: none;
   }

.bosh ul li{
   display:inline-block;
   padding: 25px;
}

.bosh ul li a:hover{
   background-color: #444;
   color: #f7c08a;
}

.l{
max-width: 1100px;
margin:auto;
}


.z{
   background-color: #444;
   color: white;
}

.d-flex{
    justify-content: space-around;
padding: 5px;
}

.n{
   display: flex;
    justify-content: space-around;
    padding: 5px;  
}